h1 {
    text-align: center;
}

p {
    white-space: pre-wrap;
    margin: 0px;
}

div {
    margin-left: 22px;
}

.p_01, .p_02, .p_03 {
    background: url('childbook.png'); 
    overflow: hidden; 
    text-align: left; 
}
 
.p_01 {
    background-position: -0px -0px; 
    width: 241px; 
    height: 200px; 
}

.p_02 {
    background-position: -0px -300px; 
    width: 241px; 
    height: 170px; 
}

.p_03 {
    background-position: -0px -600px; 
    width: 241px; 
    height: 280px; 
}
